html, body{
  height:100%;
  width:100%;
  margin: 0;
}


.main-wrapper {
  background-image:url(IMG_0032.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size: 25%;
  background-color:#f4a789;
  height:100%;
  width: 100%;
  position: relative;
  color:white;
  text-align: left;
}

a{
  color:inherit;
  display: inline-block;
  transition: 200ms;
  padding:1em;
  border: 1px solid;
  margin: .3em;
  text-decoration: none;
}

a:hover{
  background-color:white;
  color:red;
  border-radius: 700px;
  transform:rotate(360deg) scale(1.2);
}


.personal-info{
  font-family: 'Homemade Apple', cursive;
  position:absolute;
  top:50%;
  left:75%;



}
.personal-info h1{
  font-size: 25px;
}
